@import './reset.scss';
@import '../fonts/fonts.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 1310px;
  min-height: 100vh;
  padding: 0 30px;
  margin: 0 auto;

  @media (max-width: $breakpoints-s) {
    padding: 0 16px;
  }
}
