@use './reset.scss' as *;
@use '../fonts/fonts.scss' as *;
@use './variables.scss' as *;

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1310px;
  padding: 0 30px;

  @media (max-width: $breakpoints-s) {
    padding: 0 16px;
  }
}
