@import '../fonts/fonts.scss';

$ff: 'DM Sans', sans-serif;
$breakpoints-xl: 1000px;
$breakpoints-l: 900px;
$breakpoints-l-m: 700px;
$breakpoints-m: 650px;
$breakpoints-s: 550px;
$breakpoints-xs: 400px;

%h1 {
  font-family: $ff;
  font-size: 33px;
  font-weight: 500;
  color: #000;
}

%h2 {
  font-family: $ff;
  font-size: 26px;
  font-weight: 400;
  line-height: 35px;
  color: #000;
}

@mixin h3($color) {
  font-family: $ff;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: $color;
}

@mixin h4($color) {
  font-family: $ff;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: $color;
}

@mixin h5($color) {
  font-family: $ff;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: $color;
}

@mixin t-large($color) {
  font-family: $ff;
  font-size: 16px;
  font-weight: 700;
  color: $color;
}

@mixin t-medium($color) {
  font-family: $ff;
  font-size: 14px;
  font-weight: 400;
  color: $color;
}

@mixin t-small($color) {
  font-family: $ff;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: $color;
}

@mixin button-empty($border, $border-radius, $color) {
  height: 54px;
  font-family: $ff;
  font-size: 20px;
  font-weight: 700;
  color: $color;
  text-transform: capitalize;
  background-color: transparent;
  border: $border;
  border-radius: $border-radius;
}

%button-black {
  font-family: $ff;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: #000;
  border-radius: 4px;
}

%transition {
  transition: all 0.3s;
}
